<svg class="c-flying-t__icon u-m-auto" width="51px" height="60px" viewBox="0 0 51 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Flying-T</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Functionality" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Flying-T" fill="#FFF" points="50.139 0 0 11.579 0 23.379 17.896 19.247 17.896 32.837 8.959 34.899 8.959 46.698 17.896 44.636 17.896 60 32.243 56.686 32.243 41.322 41.193 39.255 41.193 27.455 32.243 29.523 32.243 15.933 50.139 11.8"></polygon>
    </g>
</svg>
