<h2>Grid</h2>

<p class="u-line-height-4 u-width-60">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

<section class="u-mv-xl">
  <h3 class="u-mb-sm">Guttered</h3>
  <hr size="1">

  <p class="u-line-height-4 u-mb-lg u-width-60">Guttered Grids should be used when you are organizing cards or elements of the like across a page. This allows just the right amount of space to separate each element.</p>

  <h4>12 Column</h4>

  <div class="o-grid o-grid--guttered g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">4</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">5</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">6</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">7</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">8</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">9</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">10</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">11</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">12</div>
    </div>
  </div>

  <h4>6 Column</h4>

  <div class="o-grid o-grid--guttered g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">4</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">5</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">6</div>
    </div>
  </div>

  <h4>4 Column</h4>

  <div class="o-grid o-grid--guttered g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">4</div>
    </div>
  </div>

  <h4>3 Column</h4>

  <div class="o-grid o-grid--guttered g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-4">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-4">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-4">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
  </div>

  <h4>2 Column</h4>

  <div class="o-grid o-grid--guttered g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-6">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-6">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
  </div>
</section>

<section class="u-mv-xl">
  <h3 class="u-mb-sm">Non-Guttered</h3>
  <hr size="1">

  <p class="u-line-height-4 u-mb-lg u-width-60">Guttered Grids should be used when you are organizing cards or elements of the like across a page. This allows just the right amount of space to separate each element.</p>

  <h4>12 Column</h4>

  <div class="o-grid g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">4</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">5</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">6</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">7</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">8</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">9</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">10</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">11</div>
    </div>
    <div class="o-grid-cell o-grid-cell-1">
      <div class="g-bg-blue-3 g-white u-text-center">12</div>
    </div>
  </div>

  <h4>6 Column</h4>

  <div class="o-grid g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">4</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">5</div>
    </div>
    <div class="o-grid-cell o-grid-cell-2">
      <div class="g-bg-blue-3 g-white u-text-center">6</div>
    </div>
  </div>

  <h4>4 Column</h4>

  <div class="o-grid g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
    <div class="o-grid-cell o-grid-cell-3">
      <div class="g-bg-blue-3 g-white u-text-center">4</div>
    </div>
  </div>

  <h4>3 Column</h4>

  <div class="o-grid g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-4">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-4">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
    <div class="o-grid-cell o-grid-cell-4">
      <div class="g-bg-blue-3 g-white u-text-center">3</div>
    </div>
  </div>

  <h4>2 Column</h4>

  <div class="o-grid g-bg-blue-1">
    <div class="o-grid-cell o-grid-cell-6">
      <div class="g-bg-blue-3 g-white u-text-center">1</div>
    </div>
    <div class="o-grid-cell o-grid-cell-6">
      <div class="g-bg-blue-3 g-white u-text-center">2</div>
    </div>
  </div>
</section>
