<h2>Typography</h2>

<p class="u-line-height-4 u-width-60">Follow a 6 px baseline grid to keep the ratios optically 👌💯. Ticketfly brand typefaces are Gibson and Akkurat Pro. Although, Gibson should only be used for page headers with the exception of the Consumer App.</p>

<section class="u-mv-xl">
  <h3 class="u-mb-sm">Headings</h3>
  <hr size="1">

  <div class="u-mv-md">
    <p class="g-gray-6 u-inline-block u-width-10">Heading 1</p><h1 class="u-inline">Gibson Semibold 36 px</h1>
  </div>
  <div class="u-mv-md">
    <p class="g-gray-6 u-inline-block u-width-10">Heading 2</p><h2 class="u-inline">Akkurat Pro Bold 24 px</h2>
  </div>
  <div class="u-mv-md">
    <p class="g-gray-6 u-inline-block u-width-10">Heading 3</p><h3 class="u-inline">Akkurat Pro Bold 18 px</h3>
  </div>
  <div class="u-mv-md">
    <p class="g-gray-6 u-inline-block u-width-10">Heading 4</p><h4 class="u-inline">Akkurat Pro Bold 16 px</h4>
  </div>
  <div class="u-mv-md">
    <p class="g-gray-6 u-inline-block u-width-10">Heading 5</p><h5 class="u-inline">Akkurat Pro Bold 14 px</h5>
  </div>
  <div class="u-mv-md">
    <p class="g-gray-6 u-inline-block u-width-10">Body</p><p class="u-inline">Akkurat Pro Regular 14 px</p>
  </div>
</section>
