<h2>Buttons</h2>

<p class="u-line-height-4 u-width-60">Button format is as follows: 12 px padding between text and border, 12 px external padding between other elements, 90 px minimim button width for short text like “save” and “edit,” 36 px height for default buttons, and always a 2 px border radius.</p>

<section class="u-mv-xl">
  <h3 class="u-mb-sm">Button Categories</h3>
  <hr size="1">
</section>

<section class="u-mv-xl">
  <h3 class="u-mb-sm">States</h3>
  <hr size="1">
</section>

<section class="u-mv-xl">
  <h3 class="u-mb-sm">Icon Use</h3>
  <hr size="1">
</section>
